flows.json
[{"id":"5c8ca616.44604","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"faf4d61a.1cf3f8","type":"ui_form","z":"5c8ca616.44604","name":"","label":"","group":"9f45a139.9f0b88","order":1,"width":0,"height":0,"options":[{"label":"Education","value":"ed","type":"text","required":true,"rows":null},{"label":"Jobinvolvement","value":"ji","type":"text","required":true,"rows":null},{"label":"Joblevel","value":"jl","type":"number","required":true,"rows":null},{"label":"Dailyrate","value":"dr","type":"number","required":true,"rows":null},{"label":"Monthlyrate","value":"mr","type":"number","required":true,"rows":null},{"label":"Noofcompanies","value":"nc","type":"number","required":true,"rows":null},{"label":"Totalworking","value":"tw","type":"number","required":true,"rows":null},{"label":"Yearsatcompany","value":"yc","type":"number","required":true,"rows":null},{"label":"Yearsincurrentrole","value":"yr","type":"number","required":true,"rows":null},{"label":"Yearssincelastpromotion","value":"yp","type":"number","required":true,"rows":null},{"label":"Yearswithcurrentmanager","value":"ym","type":"number","required":true,"rows":null},{"label":"Trainingtimeslastyear","value":"tm","type":"number","required":true,"rows":null},{"label":"Performancerating","value":"pr","type":"text","required":true,"rows":null}],"formValue":{"ed":"","ji":"","jl":"","dr":"","mr":"","nc":"","tw":"","yc":"","yr":"","yp":"","ym":"","tm":"","pr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":320,"wires":[["5a832a53.f87314","565e2a07.d96794"]]},{"id":"5a832a53.f87314","type":"debug","z":"5c8ca616.44604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":400,"wires":[]},{"id":"565e2a07.d96794","type":"function","z":"5c8ca616.44604","name":"pre-token","func":"global.set(\"ed\",msg.payload.ed)\nglobal.set(\"ji\",msg.payload.ji)\nglobal.set(\"jl\",msg.payload.jl)\nglobal.set(\"dr\",msg.payload.dr)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"nc\",msg.payload.nc)\nglobal.set(\"tw\",msg.payload.tw)\nglobal.set(\"yc\",msg.payload.yc)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"yp\",msg.payload.yp)\nglobal.set(\"ym\",msg.payload.ym)\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"pr\",msg.payload.pr)\nvar apikey=\"i6MlsrZGYjUexG6lFQcvi69CHCTNkjKB2C8k60KvO0sv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["2713275d.fec818"]]},{"id":"2713275d.fec818","type":"http request","z":"5c8ca616.44604","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":452.00000381469727,"y":304.00000286102295,"wires":[["bd38778f.5db848","6cfa871d.259928"]]},{"id":"bd38778f.5db848","type":"debug","z":"5c8ca616.44604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":360,"wires":[]},{"id":"6cfa871d.259928","type":"function","z":"5c8ca616.44604","name":"Pre Prediction","func":"var ed = global.get(\"ed\")\nvar ji = global.get(\"ji\")\nvar jl = global.get(\"jl\")\nvar dr = global.get(\"dr\")\nvar mr = global.get(\"mr\")\nvar nc = global.get(\"nc\")\nvar tw = global.get(\"tw\")\nvar yc = global.get(\"yc\")\nvar yr = global.get(\"yr\")\nvar yp = global.get(\"yp\")\nvar ym = global.get(\"ym\")\nvar tm = global.get(\"tm\")\nvar pr = global.get(\"pr\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Education\", \"Jobinvolvement\", \"Joblevel\", \"Dailyrate\", \"Monthlyrate\", \"Noofcompanies\", \"Totalworking\", \"Yearsatcompany\", \"Yearsincurrentrole\", \"Yearssincelastpromotion\", \"Yearswithcurrentmanager\", \"Trainingtimeslastyear\", \"Performancerating\"]],\"values\": [[ed,ji,jl,dr,mr,nc,tw,yc,yr,yp,ym,tm,pr]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":644.0000076293945,"y":256.0000021457672,"wires":[["f75be199.1a0ff"]]},{"id":"f75be199.1a0ff","type":"http request","z":"5c8ca616.44604","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/8af9e136-b20b-4966-ab86-3b8485a4fb1e/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":280,"wires":[["da53ee66.a75df","32143a2a.e25b26"]]},{"id":"da53ee66.a75df","type":"debug","z":"5c8ca616.44604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1022.9999914169312,"y":364.00000381469727,"wires":[]},{"id":"3902739a.866c4c","type":"inject","z":"5c8ca616.44604","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[["565e2a07.d96794"]]},{"id":"9da23f4f.b44af8","type":"debug","z":"5c8ca616.44604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":853.9999885559082,"y":147.0000057220459,"wires":[]},{"id":"32143a2a.e25b26","type":"function","z":"5c8ca616.44604","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":699.6000595092773,"y":188.00000190734863,"wires":[["9da23f4f.b44af8","51ea5021.d081a"]]},{"id":"51ea5021.d081a","type":"ui_text","z":"5c8ca616.44604","group":"9f45a139.9f0b88","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":817.6000366210938,"y":421.20001220703125,"wires":[]},{"id":"9f45a139.9f0b88","type":"ui_group","z":"","name":"Predict high potential employee attrition","tab":"bc83a3a9.ab9468","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc83a3a9.ab9468","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]